body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }
  
  header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    color: yellow;
  }
  
  header nav ul {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
    list-style: none;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav a {
    text-decoration: none;
    color: white;
  }
  
  main {
    display: flex;
    padding: 20px;
  }
  
  main h2 {
    margin-bottom: 20px;
  }
  
  .post-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .post {
    background-color: lightgray;
    width: 30%;
    padding: 20px;
    margin: 20px;
  }
  
  aside {
    /*background-color: lightgreen;*/
    padding: 20px;
    width: 20%;
    text-align: center;
    margin-left: 20px;
  }
  
  footer {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    color: white;
  }
  